#profilepage {
    display: flex;
  }
  
  #profileleftsidebar {
    flex-basis: 30%;
    background-color: #292961;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
  
  #profileleftsidebar ul {
  
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  #profileleftsidebar ul li {
      padding: 10px 20px;
      font-size: larger;
  }
  
  #profileleftsidebar ul li a {
      color: #aca7a7;
      text-decoration: none;
  }
  
  #profileleftsidebar ul li a:hover {
      color: #ffffff;
  }
  
  #profilerightsidebar {
    flex-basis: 30%;
    background-color: #292961;
    display: flex;
    flex-direction: column;
  }
  
  #profileleftsidebar a {
    margin: 1rem 2rem;
    color: white;
    text-decoration: none;
  }
  
  #mainprofile {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin: 0rem 5rem;
  
  }
  
  #mainprofile_userinfo {
    display:flex;
    padding: 1rem 2rem;
    
  }
  
  #mainprofile_userinfo div {
    margin: 2rem;
  }
  
  #userinfo_profilepic {
    flex-basis: 30%;
    background-color: #56ABCF;
    width: 20%;
    border-radius: 50%;
  }
  
  #userinfo_profilepic:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  #userinfo_text {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 60%;
    padding-top: 3%;
  }
  
  #userinfo_text h2 {
      font-weight: 200;
      color: #aca7a7;
    }
  
  #userinfo_text button {
      width: 40%;
      font-size: large;
  }
  
  #mainprofile_yourvideos {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  #mainprofile_yourvideos .yourvideos {
    width: 20vw;
    height: 16vw;
    margin: 10px;
    background-color: #292961;
    border-radius: 20px;
  }
  
  #mainprofile_yourvideos .yourvideos #videowrap {
    width: 18vw;
    height: 15vw;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  #mainprofile_yourvideos .yourvideos #videowrap #thumbnail {
    background-color: #435897;
    flex-basis: 80%;
    border-radius: 10px;
  }
  
  #mainprofile_yourvideos .yourvideos #videowrap #profile_videotitle {
    color: white;
    flex-basis: 20%;
  }
  
  #profilebody {
    background-color: #1a1a2e;
    margin: 0px;
  }
  
  #profilelabels {
    text-align: center;
    color: white;
  }