
/* login css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #ffffff;
    background-image: url("./img/loginbackground.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    background-color: #292961;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
}

.sign-in-form {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3d3d78;
    color: #ffffff;
}

.btn-login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #261046;
    color: #ffffff;
    cursor: pointer;
}

.social-login {
    margin-top: 20px;
    text-align: center;
}

.btn-google, .btn-facebook {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #db4437; 
    color: #ffffff;
    cursor: pointer;
}

.terms {
    margin-top: 20px;
    text-align: center;
}

.terms a {
    color: #ffffff;
}


/* Sing up page */
* {
    box-sizing: border-box;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #261046; 
    color: #ffffff; 
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #5f5fc4; 
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


button {
    background-color: #5f5fc4; 
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}


.container {
    padding: 16px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
